@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Almarai:300,regular,700,800);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
*{
  margin: 0;
  padding: 0;
}
.blank{
  display:none;
}

a{
  text-decoration: none;
}
.main{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0px;
}
.sub-main{
  position: relative;
}
.login-div{
  height: 100vh;
  width:100%;
  background-color:#649e92ff;
  display: flex;
  justify-content: center;
}
.background-layer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.login-items-holder{
background-color:#ffff;
height:80%;
width:700px;
border-radius: 15px;
box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
display: flex;
}
.login-image{
  height: 100%;
  width: 40%;
  background-image: url(/public/assets/login-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:15px ;
}
.login-details{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.big-text{
  color: #649e92ff;
  font-size: 45px;
  font-family: "Playfair Display";
  font-weight: 500;
}
.small-text{
  color: rgb(117, 185, 171);
  font-size: 14px;
  text-align: center;
  font-family: "Ubuntu";
}
.login-logo{
  height: 80px;
  width: 80px;
  /* background-color: cyan; */
  background-image: url(/public/assets/logo.png);
  background-size: contain;
}
.sub-main{
  height: 100%;
  width: 100%;
  position: relative;
}
.cover-bg{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(/public/assets/final-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 15px; */
    /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2); */
}
.sub-cover-bg{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 2px 3px 1px 5px rgba(0,0,0,0.1); */
  /* border-radius: 50px; */
}
.navbar{
  height:60px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  height: 70px;
  width: 70px;
  background-image: url(/public/assets/logo.png);
  background-size: cover;
}
.shop-btn{
  height: 45px;
  width: 45px;
  border: none ;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url(/public/assets/shopping-icon.png);
  background-repeat: no-repeat;
  background-size:cover;
  /* margin-left: 120px; */
}
.button-function{
  height: 100%;
  width: 20%;
  /* background-color: aqua; */
  display: flex;
  /* justify-content: spac; */
  justify-content:right;
  align-items: center;
  padding: 0px 5px;
}
.user-info{
  height: 100%;
  width: 70%;
  display: flex;
  /* flex-direction:; */
  justify-content:right;
  gap:30px;
    align-items: center;
    padding: 0px 5px;
}
.userlogo{
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 40px;
  /* border: 1pt solid #111111; */
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}
.login-btn-signin{
  height: 40px;
  width: 150px;
  border: none;
  background-color: #649e92ff;
  color: #fff;
  font-family:'Rubik';
  border-radius: 40px;
}
.login-btn{
  height: 35px;
  width: 80px;
  outline: none;
  border: none;
  /* outline: 0.5em; */
  border-radius: 40px;
  font-family:'Rubik';
  background-color:#649e92ff;
  color: #fff;
  font-size: 12px;
  /* letter-spacing: 1px; */
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
  
}
.design-content{
  height: 80%;
  width: 96%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
}
.text-design{
  position: relative;
  /* height:auto;
  width: auto; */
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 90px;
  color: #649e92ff;
}
.s{
  font-size: 120px;
  margin-left: 1%;
  margin-top: -3%;
}
.l{
  margin-top: -3%;
  margin-bottom: 2%;
}

.lower-shop-btn{
  height: 50px;
  width: 150px;
  border: 1px solid #649e92ff;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  color:#649e92ff;
  font-family: "Ubuntu";
  font-size: 18px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);

}

.lower-shop-btn:hover {
  background-color:  #649e92ff !important;
  color: #fff;
  
}
.second-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#ffffff;
  border-top: 40px solid #649e92ff;
  border-bottom: 40px solid #649e92ff;
}
.heading-text{
  font-family: "Playfair Display";
  font-size: 60px;
 
  color:#649e92ff;
  padding: 30px 0px;
 
}
.quote-text{
  font-size: 20px;
  font-family: "Playfair display";
  color:rgb(136, 198, 187) ;

}

.products-div{
  height: 70%;
  width: 70%;
  display: flex;
  justify-content:flex-start;
  gap:60px;
  align-items: center;
  overflow-x: hidden;
  margin-left: 2%;
  padding: 0px 10px;
  white-space: nowrap;

}
.product-items-card{

display: flex;
flex-direction:column;
box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
border-radius: 15px;

}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.product-items-card img{
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
.product-details-div{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
}
.product-name{
  font-family: "Poppins";
  font-size: 12px;
}
.product-price{
  font-family: "Roboto Slab";
  font-size: 10px;
}
.Add-to-cart-btn{
  height: 30px;
  width: 50px;
  background-color: #649e92ff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: "Poppins";
  letter-spacing: 1px;
  transition:1s linear ease-in-out;
}

.next-prev-btns{
  height: 20px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;

}
.scroll-btn{
  height: 20px;
  width: 40px;
  background-color: #649e92ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 10px;
  letter-spacing: 1px;
}
.popup{
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside-popup{
  height: 100%;
  width: 50%;
  /* background-color: cyan; */
}
.product-details{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

}
.image-name-of-product{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #649e92ff; */

}

.product-name-price{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 15px;
}
.product-name-buy{
  font-family: "Poppins";
  font-size: 15px;
  /* color: #649e92ff; */
  font-weight: 600;
}
.product-price-buy{
  font-family: "Roboto Slab";
  font-size: 12px;
  /* color: #649e92ff; */
  font-weight: 400;
}
.buying-option-of-product{
  height: 100%;
  width: 50%;
  background-color:#649e92ff;
  display: flex;
  flex-direction: column;
  color:#fff;
  align-items: center;
}
.upper-name-btn{
height:30%;
width: 95%;
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: space-evenly; */
/* gap:5px */
}
.upper-name-btn-inside{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-heading-text{
  font-size: 14px;
  font-family: "Poppins";
  letter-spacing: 1px;
}
.details-text{
  font-size: 10px;
  font-family: "Ubuntu";
}
.exit-popup{
  height: 20px;
  width: 40px;
  background-color:#649e92ff;
  border: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.grade-container{
  height: 15%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}
.grade-text{
  font-family: "Poppins";
  color: #fff;
  font-size:14px;
  letter-spacing: 1px;
}
.grade-btn-holder{
  width: 100%;
  display: flex;
  gap: 10px ;

}
.grade-btn{
  height: 20px;
  width: 20px;
  color: #fff;
  font-size: 10px;
  background-color: #649e92ff;
  border: 1px solid white;
  border-radius: 3px;
}
.grade-btn-new{
  height: 20px;
  width: 20px;
  color: #649e92ff;
  font-size: 10px;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 3px;

}
.type-container{
  height: 15%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:10px;

}
.type-text{
  font-family: "Poppins";
  color: #fff;
  font-size:14px;
  letter-spacing: 1px;
}
.type-btn-container{
  width: 100%;
  display: flex;
  gap: 20px;
}
.type-btn{
  height: 20px;
  width: 60px;
  color: #fff;
  font-size: 12px;
  background-color: #649e92ff;
  border: 1px solid white;
  border-radius: 3px;
  font-family: "Ubuntu";
}
.type-btn-new{
  height: 20px;
  width: 60px;
  color: #649e92ff;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 3px;
  font-family: "Ubuntu";
}
.quantity-container{
  height: 10%;
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-container input{
  height: 20px;
  width: 70px;
  outline: none;
  border: none;
  text-align: center;
  color: #fff;
  font-family: "Ubuntu";
  border-bottom: 1px solid #fff;
  background-color: #649e92ff;
  letter-spacing: 1px;
  font-size: 14px;
}
.quantity-text{
  letter-spacing: 1px;
  font-family: "Poppins";
}
.price-buy-container{
  height: 25%;
  width: 90%;
  display: flex;
  justify-content: space-between;
 align-items: center;
 /* border-top: 1px solid white; */
}
.total-price-container{
  color: #fff;
  font-size: 18px;
  background-color: #649e92ff;
  font-family: "Ubuntu";
}
.buy-btn{
  height: 30px;
  width: 90px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: #649e92ff;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-weight: 500;
}
.final-buy{
  border-radius: 3px;
  height: 30%;
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.final-buy input{
  height: 20px;
  width: 90%;
  font-family: "Ubuntu";
  font-size: 14px;
  border: none;
  border-bottom:2px solid #649e92ff ;
  padding: 0px 10px;
  outline: none;
}
.cancel-btn{
  height: 30px;
  width: 90px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  color: rgb(251, 6, 6);
  font-family: "Poppins";
  letter-spacing: 1px;
  font-weight: 500;
}
.final-total{
  font-family: "Poppins";
  letter-spacing: 1px;
}
.Done{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:50px;
height: 30%;
width: 30%;
background-color: #fff;
}
.purchased-text{
  font-family: "Poppins";
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
}
.Done-btn{
  background-color: rgb(255, 201, 51);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 15px;
  font-family: "Ubuntu";
  letter-spacing: 1px;
}
.third-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.third-page-heading{
  font-size: 40px;
  font-family: "Roboto Slab";
  color: #649e92ff;
}
.third-page-content{
  height: 70%;
  width: 80%;
  display: flex;
  /* background-color: aqua; */
}
.third-page-text{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
}
.textline{
  height: 40px;
  width: 100%;
  color: #649e92ff;
  font-family: "Rubik";
  font-size: 16px;
}
.Points{
  font-weight: 600;
  color: rgb(39, 147, 82);

}
.third-page-photo{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
  background-image: url(/public/assets/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth-page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-page-heading{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #649e92ff;
  font-family: "Ubuntu";
  font-size: 40px;
  font-weight: 400;
 
}
.fourth-page-content{
  height: 70%;
  width: 80%;
  /* background-color: aqua; */
 display: flex;
 justify-content: space-around;
align-items: center;

}
.message-cards{
  height: 90%;
  width: 30%;
  background-color:#649e92ff;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
.message-heading{
  height: 30px;
  color: #fff;
  font-family: "Roboto Slab";
  letter-spacing: 1px;
  font-size: 25px;
  border-bottom: 2px solid white;

}
.message-text{
  width: 90%;
  color: #fff;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 14px;
}
.email-div{
  height: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

}
.email-div input{
  height: 30px;
  width: 40%;
  outline: none;
  border: none;
  border: 1px solid #649e92ff;
  border-radius: 15px;
  padding: 0px 5px;
}
.email-div button{
  height: 30px;
  width: 120px;
  border: none;
  background-color: #649e92ff;
  border-radius: 15px;
  color: #fff;
  font-family: "Ubuntu";
}
.sell-popup{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  background-color: #fff;
}
.sell-heading{
 height: 20%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #649e92ff;
 font-family: "Rubik";
 font-size: 40px;
}
.inside-popup{
  height: 50%;
  width: 50%;
  /* background-color:#649e92ff; */
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  display: flex;
}
.sell-popup-image{

  height: 100%;
  width: 40%;
  background-image: url(/public/assets/recycle.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.sell-popup-content{
  height: 100%;
  width: 60% ;
  background-color: #649e92ff;
  display: flex;
  flex-direction: column;
}
.drop-down-container{
  height: 20%;
  width: 90%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.drop-down{
  height: 30px;
  width: 240px;
  border: none;
  outline: none;
  /* border-radius: 5px; */
  /* color: #649e92ff; */
  background-color:#fff;
  font-family: "Roboto Slab";
  letter-spacing: 1px;
}
.drop-down-text{
  color: #fff;
  letter-spacing: 1px;
  font-family: "Poppins";
}
.sell-quantity-container{
  height: 20%;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap:20px;
  padding: 0px 10px;
}
.sell-quantity-container input{
  height: 30px;
  width: 100px;
  color: #fff;
  border: none;
  border-bottom: 2px solid white;
  background-color: #649e92ff;
  text-align: center;
  outline: none;
  font-family: "Roboto Slab";
  letter-spacing: 1px;
}
.sell-text{
  font-family: "Poppins";
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
}
.sell-details{
  height: 25%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sell-details input{
  height: 20px;
  width: 200px;
  color: #fff;
  background-color: #649e92ff;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  margin-left: -35%;
}
.sell-btn-container{
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px
}
.btns{
  height: 40px;
  width: 80px;
  font-family: "Poppins";
  font-size: 16px;
  border:none;
  border-radius: 20px;
  letter-spacing: 1px;
}
.sell-btn{
  color: #649e92ff;
  background-color: #fff;
  font-size: 18px;
}
.plant-count-text{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
   letter-spacing: 1px;
   color: #649e92ff;
   font-family: "Rubik";
   font-size: 18px;
}
